{% extends "base.html" %}

{% load wagtailcore_tags static wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <!--test image load-->
<!--
    <div class="background">
        <img src="{% static 'img/next.png' %}" class="feature__image" />
    </div>
-->

    <!-- Slider main container -->

    {% load static %}
    <img class="temp_homepage_image" src="{% static "img/foyer/unnamed.png" width-1000 %}" />
    

    {% if page.item %}
        hello again
        {% for item in page.item %}
            {% if item.block_type == 'textitem' %}
                <a href="{{ item.value.link }}" target="_blank">{{ item.value.text }}</a>
            {% endif %}

            {% if item.block_type == 'imageitem' %}
                <a href="{{ item.value.link }}" target="_blank">{% image item.value.image width-600 %}</a>
            {% endif %}
        {% endfor %}
    {% endif %}


{% endblock %}