{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-wordindexpage{% endblock %}

{% block content %}

    <div class="content_wrapper_words">
    {% for post in wordpages %}
        {% with post=post.specific %}
        
        <div class="words">

            <div class="example flex-container">
            <div class="word-hover-box"></div>

            <!-- keyword -->
            <div class="keyword" id="{{ post.title }}">
                <a href="{{post.dictlink}}" target="_blank">
                    <span class="span_word">{{ post.title }}</span>
                </a>
            </div>

            <!-- example sentence -->
            <!-- <div class="example_container"> -->
            <div class="example_container flex-item">

                <a class="word_link" href="{{post.dictlink}}" target="_blank">
                    <span class="span_example">{{ post.sentence|richtext }}</span>
                </a>
            </div>


            </div>
        </div>
        {% endwith %}
    {% endfor %}
    </div>


{% endblock %}

