html,
body{
	margin:0;
	padding:0;
    font-family: 'Times New Roman', serif;
    letter-spacing: 0.05em;
    background-color: lightgrey;
}


/*  plainpage backgrounds  */
.excerpts_bg {
    width:100%;
    height:100%;
    z-index: -100;
    background-color: yellow;
}



/*  LAYOUT  */

.content-wrapper, .footer {
  margin: 20px;
  margin-left: 20px;
  margin-right: 10%;
}
.content_wrapper_blog{
  width:55%;
  margin:0 auto;
  display:block;
  padding-bottom:100px;
}

.offset_heading {
  margin-bottom:50px;
  text-align:center;
}

.image_blog {
  margin: 0 auto;
  text-align:center;
  padding-bottom:30px;
}


/*  TYPOGRAPHY  */

h1, h2, p, ul, a {
    font-size: 20px;
    line-height: 1.7rem;
    font-weight: normal;
    text-decoration: none;
    margin: 0;
}

a {
    /*text-decoration: underline;*/
    color: black;
}

p{
	margin:0;
	padding-bottom:20px;
}

.caption {
    font-size: 14px;
}
.blog-body {
    display: block;
    width: 100%;
    float:left;
}

.typesize_heading{
  font-size:3rem;
  text-decoration: none;
  /*text-align:center;*/
  margin: 0 auto;
  text-align:center;
}


/*  MENU  */
    
.menu{
	position: absolute;
	right: 0;
	top: 0;
	text-align: right;
}

#menu_wrapper {
    overflow: hidden;
    /*background-color: rgba(255, 255, 0, 0.7);*/
    position: fixed; /* Set the navbar to fixed position */
    bottom: 10px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 60px;
}

.menu_item{
  display:inline-block;
  width:24.9%;
  text-align:center;
  padding-bottom:4px;
  position:relative;
  text-decoration: none;
}

.bg_menu_item{
  display:inline-block;
  width:22.5%;
  text-align:center;
  padding:0.7%;
  background-repeat:no-repeat;
  background-image: url(../img/oval-test-1.svg);
  background-position: center;
  background-size: 290px 45px;
  /*position:relative;*/
}






/*tag style*/
button {
    
}

/*division style*/
hr {
    border-top: 1px solid black;
}

/*page: word*/
.words{
    overflow:auto;
}
.keyword {
    width:20%;
    float: left;
}

.example {
    width: 75%;
    float: right;
}



