html,
body{
	margin:0;
	padding:0;
    font-family: 'Times New Roman', serif;
    letter-spacing: 0.02em;
    /*background-color: white;*/
}



/************ BACKGROUNDS ************/

.template-blogindexpage{
  background: yellow;
  background: -moz-linear-gradient(top,  yellow 0%, white 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,yellow), color-stop(100%,white));
  background: -webkit-linear-gradient(top,  yellow 0%,white 100%);
  background: -o-linear-gradient(top,  yellow 0%,white 100%);
  background: -ms-linear-gradient(top,  yellow 0%,white 100%);
  background: linear-gradient(to bottom,  yellow 0%,white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='yellow', endColorstr='white',GradientType=0 );
  background-attachment: fixed;

}

.template-wordindexpage{
  background-color: #e6e6e6;
  background-attachment: fixed;
}

.template-homepage{
  background-color: #dbdbdb;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23ffffff' fill-opacity='1'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}
/************  LAYOUT  ************/

.content-wrapper, .footer {
  margin:0 auto;
  /*padding-top:30px;*/
/*  margin: 20px;
  margin-left: 20px;
  margin-right: 10%;*/
}

/* PAGE: project */
.content_wrapper_project{
  width:100%;
  margin:0;
  padding:0;
  display: table;
  clear: both;
}

.test-diagonal{
  display:inline-block;
  width: 50%;
  float:left;
  height: 500px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><line x1='100%' y1='0' x2='0' y2='100%' stroke='red' stroke-width='1'/><line x1='0' y1='0' x2='100%' y2='100%' stroke='red' stroke-width='1'/></svg>") no-repeat;
}


/* PAGE: blog */

.content_wrapper_blog{
  width:55%;
  margin:0 auto;
  display:block;
  padding-bottom:100px;

}

.heading_blog{
    text-align:center;
    padding-top:20px;
    padding-bottom:50px;

}

.offset_heading {
  /*margin-top:40px;*/
  margin-bottom:40px;
  text-align:center;
}

.image_blog {
  margin: 0 auto;
  text-align:center;
  padding-bottom:30px;
}

/* PAGE: words */

.content_wrapper_words {
  width:100%;
  margin:0 auto;
  display:block;
    text-align:center;

}

.words{
  width:100%;
    /*overflow:auto;*/
}

.keyword {
  /*display:inline-block;*/
  position:absolute;
}

.example {
  /*width: 33.3333%;*/
  width: 33%;
  float: left;
  /*border:1px solid red;*/
}

.flex-container {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example_container{
  max-width: 15%;
  margin: 0 auto;
  text-align: center;
  position:absolute;

}

.word_link:hover {
  color:blue;

}

.word-hover-box{
  padding:10px;
  background-color:yellow;
  border:1px solid black;
  width:70%;
  height:80%;
  margin: 0 auto;
  text-align: center;
  /*display: flex;*/
  justify-content: center;
  align-items: center;

}



/************  TYPOGRAPHY  ************/


h1, h2, p, ul, a {
    font-size: 20px;
    line-height: 1.7rem;
    font-weight: normal;
    text-decoration: none;
    margin: 0;
}

a {
    /*text-decoration: underline;*/
    color: black;
}

p{
	margin:0;
	padding-bottom:20px;
}

.caption {
    font-size: 14px;
}
.blog-body {
    display: block;
    width: 100%;
    float:left;
}

.span_word, .typesize_heading{
  font-size:3rem;
  text-decoration: none;
  /*text-align:center;*/
  margin: 0 auto;
  text-align:center;
}


/*  MENU  */
    
.menu{
	position: absolute;
	right: 0;
	top: 0;
	text-align: right;
}

#menu_wrapper {
    overflow: hidden;
    /*background-color: rgba(255, 255, 0, 0.7);*/
    position: fixed; /* Set the navbar to fixed position */
    bottom: 10px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 60px;
    z-index:99999;
}

.menu_item{
  display:inline-block;
  width:24.9%;
  text-align:center;
  padding-bottom:4px;
  position:relative;
  text-decoration: none;
}

.bg_menu_item{
  display:inline-block;
  width:22.5%;
  text-align:center;
  padding:0.7%;
  background-repeat:no-repeat;
  background-image: url(../img/oval-test-1.svg);
  background-position: center;
  background-size: 290px 45px;
  z-index:100;
  /*position:relative;*/
}






/*tag style*/
button {
    
}

/*division style*/
hr {
    border-top: 1px solid black;
}




